 body { margin:0 auto; width:70% ; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
.page-wrap {
  /*width: 800px;*/ /* width of website*/
  margin: 0 auto; /*center a website  */
}
.grid-container { margin: 0 auto; }

.grid-row { width: 100%; }
    .grid-row > * {
        -webkit-transition    : all 400ms ease-out;
        -moz-transition        : all 400ms ease-out;
        -o-transition        : all 400ms ease-out;
        -ms-transition        : all 400ms ease-out;
        transition            : all 400ms ease-out;    
    }
    .grid-row:before, .grid-row:after { content: ""; display: table; }
    .grid-row:after { clear: both; }
    .grid-row { *zoom: 1; }

.grid-col_1, .grid-col_2, .grid-col_3, .grid-col_3c, .grid-col_4, .grid-col_4c, .grid-col_5, .grid-col_5c {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    float: left;
    display: block;
}
    .grid-col_1 { width: 98%; }
    .grid-col_2 { width: 48%; }
    .grid-col_3 { width: 31.3333333333%; }
    .grid-col_4 { width: 23%; }
    .grid-col_5 { width: 18%; }
    
    .grid-col_3c { width: 64.6666666667%; }
    .grid-col_4c { width: 73%; }
    .grid-col_5c { width: 78%; }

.add-color1 { background: #ccc; }
.add-color2 { background: #eee; }


/* ------------------------------------------ */


@media only screen and (min-width: 1200px) { .page-wrap {
  width: 800px; /* width of website*/
  margin: 0 auto; /*center a website  */
} }
@media only screen and (max-width: 1200px) { .page-wrap {
   
  margin: 0 auto; /*center a website  */
} }
@media only screen and (max-width: 1024px) { .page-wrap {
 
  margin: 0 auto; /*center a website  */
} }

@media handheld, only screen and (max-width: 768px) {
    .grid-col_4 { width:48%; }
    .grid-col_4c { width: 48%; }
}

@media handheld, only screen and (max-width: 480px) {
    .grid-col_2 { width:98%; }
    .grid-col_3 { width:98%; }
    .grid-col_4 { width:98%; }
    .grid-col_5 { width:98%; }

    .grid-col_2c { width: 98%; }
    .grid-col_3c { width: 98%; }
    .grid-col_4c { width: 98%; }
    .grid-col_5c { width: 98%; }
}

@media handheld, only screen and (max-width: 320px) {
    .grid-container { width: 100% !important; max-width: 100% !important; }
    .grid-col_1, .grid-col_2, .grid-col_3, .grid-col_3c, .grid-col_4, .grid-col_4c, .grid-col_5, .grid-col_5c {
            width: 92%;
            margin-left: 0%;
            margin-right: 0%;
            padding-left: 4%;
            padding-right: 4%;
    }
}

@media handheld, only screen and (max-width: 240px) {  }
 
.responsive {
    max-width: 100%;
    height: auto;
}

.main-story {
  position: relative;
  /*margin: 0 0 25px 0;*/
}

/*Position text over website image */
.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
   font-size: 4em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em; 
}
.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  /*margin: 0 0 25px 0;*/
}

/*float divs side by side */
.sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}

/* reset margin-right for last element*/
.last {
  margin-right: 0;
}
